.App {
  text-align: center;
}

.user-image{
  height:50px;
  padding:5px;
  float:left;
}

.user-item {
  height:60px;
}

.user-name{
  padding-left: 5px;
  font-weight:bold;
  /* float: left; */
  display:block;
}

.user-score{
  padding-left: 5px;
  /* float: left; */
  display:block;
}